@{
    ViewBag.Title = "Notes";
}


<header>
       <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Notes!</div>
                <a href="@Url.Action("Register", "Account")" class="page-scroll btn btn-xl">
                    Sign Up
                </a>
            </div>
        </div>
</header>
